numpy
pandas
scikit-learn
Flask
Flask-SQLAlchemy
flask_cors
fastapi
uvicorn[standard]
python-multipart
httpx
pytest
pytest-mock
pyfakefs
pyarrow
fastparquet
mlflow
dagshub
feature-engine
evidently
-e .